.placeDetail-wrapper {
    background-color: white;
    position: absolute;
    top: 90px;
    width: 500px;
    height: 100vh;
    overflow: scroll;
}

.actions-bar {
    background-color: white;
    padding: 4px 16px 4px 16px;
    position: fixed;
    top: 48px;
    width: 500px;
    z-index: 2;
}