/* #setting {
    position: fixed;
    top: 48px;
    left: 0px;
    width: 500px;
    height: 100px;
    background-color: aquamarine;
    z-index: 10;
} */

.map-wrapper {
    position: fixed;
    /* top: 48px; */
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
}

.directions-wrapper {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 450px;
    z-index: 1;
    background-color: white;
    text-align: center;
}

.placeDetail-wrapper {
    background-color: white;
    position: absolute;
    top: 90px;
    width: 500px;
    height: 100vh;
    overflow: scroll;
}

/* .autocomplete-input-wrapper {
    background-color: lightgrey;
    width: 100%;
    height: 48px;
} */

.autocomplete-input {
border: 1px solid transparent;
margin-top: 16px;
width: 400px;
min-width: 300px;
height: 48px;
padding-left: 16px;
border-radius: 3px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
font-size: 14px;
outline: none;
text-overflow: ellipses;
}

.selected-mode {
    background-color: red;
    /* color: green; */
}

.normal {
    color: green;
}